.instagram{
    display: grid;
    place-items: center;
    height: 100dvh;
}

.frame{
    border: none;
    width: 90vw;
    height: 98dvh;
}

.button{
    position: absolute;
    bottom: 3vw;
    right: 5vw;

    width: 13.75vw;
    height: 4.635vw;
}