.hero{
    /* background: url("../../../../public/bgHero.jpg") no-repeat center/cover; */
    width: 100dvw;
    height: 100dvh;

    display: grid;
    place-items: center;
}

.button{
    width: 15.046vw;
    height: 5.072vw;
    margin-bottom: 10dvw;
}

.signature{
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    width: 7vw;
}