.hero{
    /* background: url("../../../../public/bgHero.jpg") no-repeat center/cover; */
    width: 100dvw;
    height: 100dvh;

    display: grid;
    place-items: center;
}

.hero img{
    margin-top: 7vw;
    width: 70vw;
}

.button{
    width: 15.046vw;
    height: 5.072vw;
    margin-bottom: 10dvw;
}
