section{
    padding-inline: 1.875vw;
}
body{
    /* background: url("../../public/bgHero.mp4") no-repeat center/cover; */
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

h1{
    font-size: 8.177vw;
    font-weight: 900;
    text-transform: uppercase;
}
h1.large{
    font-size: 9.01vw;
}
h1.average{
    font-size: 6.667vw;
}
h1.small{
    font-size: 5vw;
}

h4{
    font-size: 1.25vw;
    font-weight: 900;
    text-transform: uppercase;
}

h5{
    font-size: 0.781vw;
    font-weight: 900;
    text-transform: uppercase;
}

p{
    text-transform: uppercase;
    font-size: 0.977vw;
}
