.container{
    width: 100vw;
    height: 100dvh;
}
.grids{
    margin-top: 6.146vw;
    display: flex;
    gap: 0.833vw;
}
.grid1{
    position: relative;
    width: 45.625vw;
    height: 48.281vw;
    background-color: #fff;
    border-radius: 1.563vw;

    padding-inline: 2.708vw;


}
.grid2 h1,
.grid1 h1{
    margin-top: 2.031vw;
}

.bubblesGrid1{
    position: absolute;
    top: 22vw;
    right: 20vw;
}

.paragraphGrid1{
    margin-top: 4.427vw;
    text-align: right;
}

.badNote{
    position: absolute;
    top: 8vw;
    left: 0vw;

    width: 27.81vw;
    /* height: 17.781vw; */
    object-fit: cover;

    z-index: 9;

}
.button{
    width: 13.75vw;
    height: 4.635vw;
}
.bottomGrid1{
    display: flex;
    align-items: center;
    gap: 3.125vw;
    position: absolute;
    bottom: 4.323vw;
}
.lineGrid1{
    width: 23.313vw;
    height: 0.3vw;
    background-color: #000;
}

.grid2{
    position: relative;
    padding-inline: 3.073vw;
    width: 50.417vw;
    height: 48.281vw;
    background-color: #fff;
    border-radius: 1.563vw;
}
.paragraphGrid2{
    text-align: right;
}

.note{
    width: 27vw;
    position: absolute;
    top: 13vw;
    left: -1vw;

    z-index: 9;
}

.bottomGrid2{
    display: flex;
    align-items: center;
    gap: 3.125vw;
    position: absolute;
    bottom: 4.323vw;
}
.lineGrid2{
    width: 27.083vw;
    height: 0.3vw;
    background-color: #000;
}

.bubblesGrid2{
    position: absolute;
    top: 20vw;
    right: 15vw;
}