.container{
    position: fixed;
    top: 0;
    left: 0;

    width: 100dvw;
    display: flex;
    align-items: flex-end;

    z-index: 999;
}

.block{
    width: 25dvw;
    background-color: #000;
}