.container{
    height: 100dvh;
    display: grid;
    place-items: center;
}

.card{
    margin-top: 3vw;
    position: relative;
    padding-inline: 3.438vw;
    width: 97.865vw;
    height: 48.281vw;
    /* background-color: #fff;   */

    border-radius: 1.563vw;
}

.card h1{
    margin-top: 2.708vw;
}

.wrapper{
    display: flex;
    gap: 0.729vw;
    align-items: center;
    
}

.horizontalCard1{
    flex-shrink: 0;
    width: 53.385vw;
    height: 28.49vw;
    background-color: #000;
}