.container{
    height: 100dvh;
    display: grid;
    place-items: center;
}

.card{
    margin-top: 3vw;
    position: relative;
    padding-inline: 3.438vw;
    width: 97.865vw;
    height: 48.281vw;
    background-color: #fff;

    border-radius: 1.563vw;
}

.card h1{
    margin-top: 2.708vw;
}

.wifiImage{
    position: absolute;
    top: 9.917vw;
    left: -5vw;
    width: 45vw;
}
.paragraph{
    margin-top: 3.906vw;
    margin-right: 19.375vw;
    text-align: right;
}
.bottom{
    display: flex;
    align-items: center;
    gap: 6.146vw;

    position: absolute;
    bottom: 3vw;
}
.line{
    width: 72.031vw;
    height: 0.4vw;
    background-color: #000;
}
.button{
    width: 13.75vw;
    height: 4.635vw;
}


.bubbles{
    position: absolute;
    top: 1vw;
    right: 9.479vw;
}

.password,
.wifi{

    position: absolute;

    display: grid;
    place-items: center;

    background-color: #000;
    color: #fff;

    width: 13.906vw;
    height: 13.49vw;
    border-radius: 1.563vw;
}

.wifi{
    top: 4.167vw;
    left: 41.198vw;
}

.password{
    top: 9.271vw;
    left: 55.885vw;
}

.arrow{
    transform: rotate(134deg);
}